extends layout
block head
  title MIME Icons

block content
  div.hero-unit
    h1 MIME Icons
    p see 
      a(href="http://darvin.github.com/mimetype-icon/") MIME Icon site  
      for help or 
      a(href="https://github.com/darvin/mimetype-icon") view the project  
      on GitHub
